body{
    position:relative;
	background-color:white;
	margin:0;
	padding:0;

}

.logo{
	position:relative;
	 size:relative;
	left:0%;
	right:0%;
	top:0%;
	height:15%;
	background-color:blue;
	
}

.logopanel{
	position:relative;
	 size:relative;
	top:6%;
	width:100%;
	
}

.tim{
	position:relative;
    size:relative;
	height:60%;
    width: 100%;
    margin-bottom: 0.5%;
    
}

.tim img{
  max-width:320px; 
  
  margin:auto;
  display:block;
}

.slogan{
	position:relative;
    size:relative;
	height:25%;
    bottom:25%;
    font-family: "Verdana", Times, serif;
    font-size: 15px;
    text-align:center;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5%;
}

.landmark{
	position:relative;
	 size:relative;
	height:10%;
	width:19.80%;
	border-color:blue;
	background-color:#CCCCFF;
	border-width:1px;
	border-style:solid;
	display: inline-block;
	text-align:center;
	
}

/* Customize bootstrap's navbar */

.navbar .navbar-nav {
  display: inline-block;
}

.container-fluid{
    background-color: #CCCCFF;
}
.container-fluid #second{
    background-color: white;
}
.row {
    background-color: white;
}
.nav nav-justified > li{
    text-align: center;
}

.nav > li img{
    position: relative;
    size:relative;    
    margin-bottom: 1.5px; /*remove this if we want to move the text to the side of the images*/
}

.nav > li p{
    
}

.navbar-collapse{
    
    text-align: center;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

.nav-justified{
    
}



/* End of boostrap customization */







.nav-inline{
    
}

.col-sm-9{
	background-color:white;
}



.panel-primary{
    
}

.col-sm-7{
    
}

.img-responsive{
    padding: 9%;
}

.well{
    size: relative;
    position: relative;
    
}

.glyphicon{
    background-size: 5%;
}

.glyphicon-chevron-left{
    background-size: 15%;
}

.toLeft{
    size:relative;
left:0%;
    padding: 1%;
        font-size: 24px;
    
}

.next_img_right{
    position: relative;
left: 1%;
padding: 1%;
    right:0%;
float: right 
}

.next_img_left{
        size:relative;
left:0%;
    padding: 1%;
        
}

.arrow_img{
    font-size: 150%;
}

.arrows{
    width: 50%;
}



.text_content{
    margin-left: 3%;
    word-wrap: break-word
}

.panel-footer{
    text-align: center;
}

.img-responsive{
    position: relative;
    text-align: center;
	margin:auto;
    
    
}

.panel-primary{
    text-align: center;
	border-color:#c0c0c0;
}

.panel{
     text-align: center;
}
.row{
    border-color: #e3e3e3;
    border-width: 3px;
    background-color: white;
    border-radius: 4px;
}
